@import './utilities/mixins';
@import './utilities/variables';
@import './layout/navigation';
@import './layout/forms';
@import './layout/footer';
@import './pages/error404';
@import './pages/home';
@import './pages/portfolio';
@import './pages/contacto';
@import './pages/blog';
@import './pages/devtests';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}