.home{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;

    & > *{
        margin-top: $navTotalHeight;
    }

    & > img{
        margin-top: $navTotalHeight;
        width: 50%;
        height: 5%;
        max-width: 400px;
    }

    & > h1{
        font-size: 1em;
        padding: 1em;
    }
};
.temporal-btn{
    @include btns;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 1em;
    width: 60%;
    display: flex;
    place-content: center;
    place-items: center;
    padding: 1em;
}