body{
    font-size: 1em;
    color: #000;
    font-family: $fontFamily-general;
    overflow-x: hidden;
}
// ------ APP.JS (boton up scroll to 0) ------ //
.scroll-up {
    position: fixed;
    z-index: 5;
    width: 70px;
    height: 70px;
    background-color: $bgColor-btnScrollUp;
    border: 5px solid;
    border-color: $borderColor-btnScrollUp;
    border-radius: 50%;
    bottom: 20px;
    right: -100px;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
    transition: right .4s ease-in;
    cursor: pointer;

    &:hover{
        transform: scale(1.025);
        transition: all .1s;
        filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.8));
    }
    &:active{
        transform: scale(0.95);
        transition: all .1s;
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.8));
    }

    &__stick::after{
        content: "";
        border: 1px solid;
        border-color: $borderColor-stickArrowBtnScrollUp;
        border-width: 10px 3px;
        border-radius: 0 0 3px 3px;
        position: relative;
        top: 26px;
        left: 32px;
    }
    &__arrow::after{
        content: "";
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 0;
        height: 0;
        border-width: 0 15px 15px;
        border-style: solid;
        border-color: $borderColor-headArrowBtnScrollUp;
    }
}
.scroll-up-in {
    right: 20px;
    transition: right 0.4s;
}
// ------ INICIO ------ //
.porfolio-inicio{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding: 0 1em;
    background: linear-gradient(180deg, #525252, #255fa7);
    background-image: url('../img/portfolio/bgInicio.svg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &__titles-cont{
        z-index: 4;
        color: $color-blackText;
        // justo al borde del telón
        width: 59%;

        &__fotoperfil{
            width: 80%;
            min-width: 80px;
            max-width: 400px;
            border-bottom: 4px solid #0c0c0c;
            border-radius: 20px;
            margin-top: 3em;
        }

        &__titulo{
        font-family: $fontFamily-titles;
        font-weight: 800;
        font-size: $fontSize-titles;
        }
        &__subtitulo{
            font-family: $fontFamily-titles;
            font-size: $fontSize-subTitles;
            font-weight: 600;
        }
        //entrada con 6 targetas que se agrandan width y luego se mueven a laderecha con left... para dar efecto de entrada animada
        &__entry-animation{
            & > *{
                width: 50%;
                left: -100%;
                top: $navTotalHeight;
                min-height: calc(100% - $navTotalHeight);
                position: absolute;
                animation-duration: 1s;
                animation-timing-function: ease-out;
                animation-fill-mode: forwards;
                background-color: #0c0c0c;
                border-radius: 0 0 0 1.5em;
                background-image: url('../img/portfolio/telon.jpg');
                background-size: auto 100%;
                box-shadow: -8px 10px 20px #000;
                // no recomiendo transition para el telón
                // transition: left 0.5s ease-out; 
            }
            & > :nth-child(3){
                z-index: 4;
                background: #0c0c0c;
                width: 100%;
                left: 0%;
                animation-name: entry-bg;
            }
            @keyframes entry-bg {
                0% {left: 0%};
                60% {left: 100%};
                100% {left: 100%};
            }
            & > :nth-child(2){
                animation-name: entry-cards;
                transform: rotate(0deg);
            }
            @keyframes entry-cards {
                0%{left: -50%};
                60%{left: 62%};
                75%{left: 59.4%};
                100%{left: 60%};
            }
            & > :nth-child(1){
                z-index: 4;
            }
        }
    }
}

// ------ CONOCIMIENTOS ------ //
.conocimientos-cont{
    padding: 0.5em 0 0 0;
    background: $bgColor-conocimientos;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: $color-whiteText;
    position: relative;
    
    &__bar{
        background-color: $bgColor-conocimientosBar;
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        width: 0%;
        // border-radius: 0 100px 100px 0;
    }

    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;

        &__icons{
            font-size: $fontSize-conocimientosIcons;
        }
        &__descriptions{
            font-weight: 500;
        }
    }
}
// ------ PROYECTOS ------ //
.proyectos{
    background: $bgColor-proyectos;
    background: url('../img/portfolio/bgProyectos.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 18%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    color: $color-proyectos;
    padding: 1em 0 2em 0;
    height: 100%;

    &__pc-screen-cont{
        padding: 1em 0em;
        width: 75%;

        &__nombre{
            text-align: center;
            min-height: 2.5em;
        }
        &__subnombre{
            min-height: 5em;

            &__p{
                text-align: center;
            }
        }
        &__pc-viewer{
            margin-bottom: 2em;
            display: flex;
            flex-direction: row;
            justify-content: center;

            &__btns{
                cursor: pointer;
                background-color: transparent;
                border: 0;
                border-radius: 50%;
                display: flex;
                align-items: center;
                padding: 0;

                &:hover{
                    transform: scale(1.05);
                }
                &:active{
                    transform: scale(0.95);
                }

                &__ico{
                    font-size: 4em;
                    color: $color-proyectos;
                }
            }

            &__relative-div{
                background-image: url('https://alvaro624la.github.io/AlvaroWeb2.0../img/portfolio/fotoperfilEDIT2.png');
                max-width: 28em;
                width: 100%;
                background-size: 85% 80%;
                background-repeat: no-repeat;
                background-position: 55% 21%;
                transition: background-size .15s;
                cursor: pointer;
                position: relative;

                &:hover{
                    background-size: 86% 81%;
                    transition: background-size .15s;
                }
            }
        }
        &__descripcion{
            min-height: 6em;

            &__p{
                padding: 1em;
            }
        }
        &__lenguaje{
            padding: 0 3em;
        }
        &__enlace{
            @include links;
            padding: 0 3em;
            color: $color-proyectos;

            &:hover{
                color:rgb(0, 50, 83);
            }
        
            &:active{
                color: #00125b;
            }
        }
    }
    &__title-cont{
        display: flex;
        flex-direction: column;
        place-items: center;
        place-content: center;
        padding: 0 2em;

        &__p{
            font-size: $fontSize-titles;
            font-family: $fontFamily-titles;
        }
    }
}
// ------ CERTIFICACIONES ------ //
.certif-y-cv-cont{
    position: relative;
    // fallback
    background-color: #fff;
    background-image: url('../img/portfolio/bgConocimientos.svg');
    background-size: cover;
    // background-attachment: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3em;
    min-height: calc(100vh - 3em);

    &__certif{
        z-index: 1;

        &__title{
            text-align: center;
            color: $color-blackText;
            font-family: $fontFamily-titles;
            font-size: $fontSize-titles;
        }
        &__icons-links-cont{
            &__icon-link{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 1em;

                &__icon{
                    @include links;
                    font-size: 3em;
                    color: $color-blackText;

                    &:hover{
                        color: $color-certificaciones_hover;
                        filter: drop-shadow(2px 2px 2px $color-blackText);
                    }
                    &:active{
                        filter: drop-shadow(0px 0px 0px $color-blackText);
                    }
                }
                &__link{
                    @include links;
                    text-decoration: underline;
                    color: $color-blackText;
                    cursor: pointer;
                    background-color: #ffffffab;
                    font-family: $fontFamily-general;

                    &:hover{
                        color: $color-certificaciones_hover;
                        background-color: transparent;
                    }
                    &:active{
                        filter: drop-shadow(0px 0px 0px $color-blackText);
                    }
                }
            }
        }
    }
    &__cv{
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__title{
            font-family: $fontFamily-titles;
            font-size: $fontSize-titles;
        }
        &__download-cont{
            display: flex;
            flex-direction: column;
            place-content: center;
            place-items: center;

            &__icon-a{
                

                &__icon{
                    cursor: pointer;
                    font-size: 3em;
                    color: $color-blackText;

                    &:hover{
                        color: $color-cvIcon_hover;
                        transform: translate(-1.5px, -1.5px);
                        filter: drop-shadow(1.5px 1.5px 1.5px $color-blackText);
                        transition: all 0.15s;
                    }
                    &:active{
                        transform: translate(0px, 0px);
                        filter: drop-shadow(0px 0px 0px $color-blackText);
                        transition: all 0.10s;
                    }
                }
            }   
            &__btn-a{
                &__btn{
                    @include btns;
                }
            }
        }
    }
}

// Particles
.particles {
    position:absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 100%;
    z-index: 0;
}
.particles {
    position:absolute;
    left: 10px;
    right: 10px;
    height: 100%;
}

.particles .particle {
    position: absolute;
    opacity: .2;
    background: #0c0c0c;
    -webkit-animation-iteration-count: infinite!important;
    animation-iteration-count: infinite!important
}

.particle:nth-child(1) {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    -webkit-animation: floating 28s linear;
    animation: floating 28s linear;
    top: 65%;
    left: 10%
}

.particle:nth-child(2) {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    -webkit-animation: floating 35s linear;
    animation: floating 35s linear;
    top: 15%;
    left: 33%
}

.particle:nth-child(25),
.particle:nth-child(3) {
    border-radius: 100%;
    animation: floating 28s linear;
    -webkit-animation: floating 28s linear;
}

.particle:nth-child(3) {
    height: 21px;
    width: 21px;
    animation: floating 28s linear;
    top: 48%;
    left: 36%
}

.particle:nth-child(4) {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    -webkit-animation: floating 25s linear;
    animation: floating 25s linear;
    top: 85%;
    left: 75%
}

.particle:nth-child(5) {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    -webkit-animation: floating 32s linear;
    animation: floating 32s linear;
    top: 36%;
    left: 78%
}

.particle:nth-child(6) {
    height: 22px;
    width: 22px;
    border-radius: 100%;
    -webkit-animation: floating 23s linear;
    animation: floating 23s linear;
    top: 87%;
    left: 18%
}

.particle:nth-child(7) {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    -webkit-animation: floating 36s linear;
    animation: floating 36s linear;
    top: 63%;
    left: 78%
}

.particle:nth-child(8) {
    height: 17px;
    width: 17px;
    border-radius: 100%;
    -webkit-animation: floating 27s linear;
    animation: floating 27s linear;
    top: 35%;
    left: 76%
}

.particle:nth-child(9) {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    -webkit-animation: floating 31s linear;
    animation: floating 31s linear;
    top: 20%;
    left: 70%
}

.particle:nth-child(10) {
    height: 13px;
    width: 13px;
    border-radius: 100%;
    -webkit-animation: floating 32s linear;
    animation: floating 32s linear;
    top: 42%;
    left: 23%
}

.particle:nth-child(11) {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    -webkit-animation: floating 30s linear;
    animation: floating 30s linear;
    top: 62%;
    left: 17%
}

.particle:nth-child(12) {
    height: 13px;
    width: 13px;
    border-radius: 100%;
    -webkit-animation: floating 29s linear;
    animation: floating 29s linear;
    top: 9%;
    left: 63%
}

.particle:nth-child(13) {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    -webkit-animation: floating 21s linear;
    animation: floating 21s linear;
    top: 14%;
    left: 30%
}

.particle:nth-child(14) {
    height: 11px;
    width: 11px;
    border-radius: 100%;
    -webkit-animation: floating 34s linear;
    animation: floating 34s linear;
    top: 29%;
    left: 33%
}

.particle:nth-child(15) {
    height: 17px;
    width: 17px;
    border-radius: 100%;
    -webkit-animation: floating 23s linear;
    animation: floating 23s linear;
    top: 68%;
    left: 31%
}

.particle:nth-child(16) {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    -webkit-animation: floating 21s linear;
    animation: floating 21s linear;
    top: 29%;
    left: 57%
}

.particle:nth-child(17) {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    -webkit-animation: floating 32s linear;
    animation: floating 32s linear;
    top: 49%;
    left: 21%
}

.particle:nth-child(18) {
    height: 7px;
    width: 7px;
    border-radius: 100%;
    -webkit-animation: floating 37s linear;
    animation: floating 37s linear;
    top: 35%;
    left: 94%
}

.particle:nth-child(19) {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    -webkit-animation: floating 35s linear;
    animation: floating 35s linear;
    top: 42%;
    left: 33%
}

.particle:nth-child(20) {
    height: 18px;
    width: 18px;
    border-radius: 100%;
    -webkit-animation: floating 35s linear;
    animation: floating 35s linear;
    top: 94%;
    left: 20%
}

.particle:nth-child(21) {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    -webkit-animation: floating 37s linear;
    animation: floating 37s linear;
    top: 7%;
    left: 23%
}

.particle:nth-child(22) {
    height: 24px;
    width: 24px;
    border-radius: 100%;
    -webkit-animation: floating 34s linear;
    animation: floating 34s linear;
    top: 49%;
    left: 33%
}

.particle:nth-child(23) {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    -webkit-animation: floating 29s linear;
    animation: floating 29s linear;
    top: 82%;
    left: 58%
}

.particle:nth-child(24) {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    -webkit-animation: floating 32s linear;
    animation: floating 32s linear;
    top: 60%;
    left: 90%
}

.particle:nth-child(25) {
    height: 25px;
    width: 25px;
    animation: floating 28s linear;
    top: 53%;
    left: 85%
}

.particle:nth-child(26) {
    height: 23px;
    width: 23px;
    border-radius: 100%;
    -webkit-animation: floating 28s linear;
    animation: floating 28s linear;
    top: 63%;
    left: 94%
}

@keyframes floating {
    0% {
        -webkit-transform: translate(0, 0) scale(.5);
        transform: translate(0, 0) scale(.5);
        opacity: 0
    }
    5% {
        opacity: .2
    }
    50% {
        -webkit-transform: translate(0, -250px) scale(1.4);
        transform: translate(0, -250px) scale(1.4)
    }
    95% {
        opacity: 0
    }
    100% {
        -webkit-transform: translate(0, -500px) scale(.5);
        transform: translate(0, -500px) scale(.5)
    }
}
//MEDIA QUERIES
//extra-small devices (only if it's necessary)
@media (max-width: 274px){
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px){
    body{
        font-size: 1.2em;
    }
    // ------ INICIO ------ //
    .porfolio-inicio{
        &__nombrecompleto{
            font-size: 3em;
            font-weight: 500;
        }
        &__fotoBnt-cont{
            width: 250px;
        }
    }
    // ------ CONOCIMIENTOS ------ //
    .conocimientos-cont{
        &__card{
            &__icons{
                font-size: 4em;
            }
            &__descriptions{
                font-weight: 600;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px){}

// Large devices (desktops, 992px and up)
@media (min-width: 992px){}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){}

@media (max-width: 450px){
    // ------ PROYECTOS ------ //
    .proyectos{
        &__pc-screen-cont{
            width: 65%;

            &__pc-viewer{
                &__btns{
                    &__ico{
                        font-size: 2em;
                    }
                }
            }
            &__descripcion{
                &__p{
                    padding: 0;
                }
            }
            &__lenguaje{
                padding: 0;
            }
            &__enlace{
                padding: 0;
            }
        }
    }
    .certif-y-cv-cont{
        padding-bottom: 6em;
    }
}

// ANIMATIONS
.anim-botiRueda{
    @include anim-botiRueda;
}
.anim-cuelga{
    @include anim-cuelga;
}