.post-main{
    padding-bottom: 2em;
    background-color: $bgColor-darkMode;
    color: $color-darkMode;

    &__btn-dark-mode{
        margin: 2.2em .75em .33em .5em;
        font-size: 2em;
        cursor: pointer;
        float: right;
    }

    &__btn-volver{
        font-size: 1em;
        border-radius: 3em;
        border: 4px solid transparent;
        padding: .15em .65em .15em .15em;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 $padding-post;
        cursor: pointer;
        background-color: #fff;
        transition: .075s;

        &:hover{
            transition: .075s;
            color: #fff;
            background: #3fa3e655;
        }

        &__icon{
            font-size: 2em;
            margin-right: .33em;
        }
    }
}

.post{
    padding: 5em $padding-post 3em $padding-post; // padding: 5em $padding-post 3em $padding-post;

    & > p{
        padding: 0 $padding-post;
        text-align: justify;
        font-size: 1em;
    }
    & > h1{
        text-align: center;
        font-size: 2em;
    }
    & > h2{
        font-size: 1.25em;
        margin: 2em 0 1em 0;
    }
    & * span{
        font-weight: bold;
    }
    & > * small{
        font-style: italic;
    }
    & > ul > li{
        margin-bottom: .25em;
        margin-left: $padding-post;
    }
    & code{
        // todos los <ol> dentro de <code>
        & ol{
            text-align: left;
            list-style-type: none;
            padding: 0;
            // margin: 0 0 0 $padding-post;
            background-color: $bgColor-code;
            border-radius: 8px;
            color: #f1f1f1;
            
            & > li{
                margin-left: 1em;
            }
        }
    }
    
    &__read-time{
        opacity: .75;
        font-weight: normal;
        font-size: 0.75em;
        display: flex;
        justify-content: flex-end;
    }
    &__img-title{
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > img{
            width: 100%;
            max-height: 500px;
            object-fit: cover;
        }
        & > figcaption{
            font-size: .75em;
            text-align: center;
        }
    }
    &__img-normal{
        display: flex;
        flex-direction: column;
        place-items: center;

        & > img{
            width: 100%;
            max-height: 500px;
            object-fit: cover;
            max-width: 500px;
        }
        & > figcaption{
            font-size: .75em;
            text-align: center;
        }
    }
};
@media (max-width: 810px){
    .post{
        padding: 5em $padding-post-mobile;
    
        & > p{
            padding: 0 $padding-post-mobile;
        }
        & > ul > li{
            margin-bottom: .25em;
            margin-left: $padding-post-mobile;
        }
    };
}
@media (max-width: 425px){
    .post-main{
        padding-bottom: 2em;
        
        &__btn-volver{
            margin: 0 $padding-post-mobile;
        }
    }
    .post{
        padding: 5em $padding-post-mobile;
    
        & > p{
            padding: 0;
        }
        & > ul > li{
            margin-left: -1em;
        }
    };
}
// para el desarrollador
.corregir{
    color: red;
    // background-color: rgb(178, 0, 0);
}
.dark-mode-class{
    background-color: #fff;
    color: #000;
}
.dark-mode-volverBtn-class{
    border: 4px solid #3fa3e6;

    &:hover{
        color: #000;
        background: #3fa3e655;
    }
}