//Portfolio
$fontFamilyTitulos: 'Poiret One', cursive, Helvetica, sans-serif;
$fontFamilyParrafos: Raleway, Helvetica, sans-serif;
// $btncolor: linear-gradient(360deg, rgb(92, 208, 212), rgb(190, 248, 248));
$btncolor: linear-gradient(360deg, #0e7ec9, #adcdec);
$btnContactoColor: linear-gradient(360deg, #0e7ec9, #adcdec);
$proyectoContainerWidthPC: 85%;
$proyectoContainerWidthMobile: 90%;